  <!-- Top Bar -->
{% load solo_tags %}
{% get_solo 'SiteConfiguration.SiteConfiguration' as site_config %}

  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i> {{ site_config.phone }}
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> {{ site_config.email }}
        </div>
        <div class="col-md-4">
          <div class="social text-right">
            <a href="#">
              <i class="fab fa-twitter"></i>
            </a>
            <a href="#">
              <i class="fab fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fab fa-pinterest"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary sticky-top">
    <div class="container">
      <a class="navbar-brand" href="index.html">
        <img src="assets/img/logo.png" class="logo" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav">
          <li           
          {% if '/' == request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %} >
            <a class="nav-link" href="{% url 'listing:home' %}">Home</a>
          </li>
          <li           
          {% if 'about' in request.path %}
            class="nav-item active mr-3"
          {% else %}
            class="nav-item mr-3"
          {% endif %} >
            <a class="nav-link" href="{% url 'listing:about' %}">About</a>
          </li>
          <li 
          {% if 'listings' in request.path %}
              class="nav-item active mr-3"
          {% else %}
              class="nav-item mr-3"
          {% endif %} 
          >
            <a class="nav-link" href="{% url 'listing:listings' %}">Featured Listings</a>
         
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li
            {% if 'dashboard' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
              <a class="nav-link" href="{% url 'account:dashboard' %}">
               Welcome {{ user.username }} (Dashboard)</a>
            </li>
            <li class="nav-item mr-3">
              <a href="{% url 'account:logout' %}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
            </li>
          {% else %}
            <li
            {% if 'register' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'account:register' %}">
              <i class="fas fa-user-plus"></i> Register</a>
            </li>
            <li
            {% if 'login' in request.path %}
              class="nav-item active mr-3"
            {% else %}
              class="nav-item mr-3"
            {% endif %}
            >
            <a class="nav-link" href="{% url 'account:login' %}">
              <i class="fas fa-sign-in-alt"></i>

                Login</a>
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>